.gallery-container{
    margin-top: 20px;
    background: linear-gradient(to right, #9a4251, #d4d46f);
    border-radius: 20px;
    padding-bottom: 20px;
}
.gallery-title{
    padding: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: black;
}
.gallery-loading,.gallery-error{
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    color: white;
}
.gallery-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
}
.gallery-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    background-color: #52524747;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(29, 1, 1, 0.699);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.5s ease;
}
.gallery-card:hover{
    transform: translateY(-10px);
}
.gallery-img{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    transition: transform 0.4s ease;
}
.gallery-img:hover{
    transform: scale(1.03);
}
.gallery-info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.gallery-name{
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.gallery-price{
    font-size: 20px;
    color: #222;
}
.gallery-add-btn{
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    font-size: 22px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    border-style: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.gallery-add-btn:hover{
    box-shadow: 0 4px 12px rgba(29, 1, 1, 0.699);
    transform: scale(1.1);
    background-color: #89858785;
    color: aliceblue;
}
.gallery-qty-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}
.gallery-qty-btn{
    flex: 1;
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #38343685;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    transition: all 0.3s ease;
}
.gallery-qty-btn:hover{
    background-color: #9a4251;
}
.gallery-qty-count{
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
  