.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #9a4251, #d4d46f);
    border-radius: 20px;
    padding: 15px;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-menu li{
    font-size: 20px;
    font-weight: 400;
    color: black;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.nav-menu li:hover{
    transform: scale(1.2);
    color: aliceblue;
}
.nav-logo img{
    height: 40px;
}